
.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    header {
        nav {
            .nav-wrapper {
                padding: 0 30px;

                .preloader-wrapper {
                    vertical-align: middle;
                    margin: 0 30px;
                }

                .avatar {
                    max-height: 48px;
                }

                .display-name {
                    margin: 0px 50px 3px 10px;
                    font-size: 18px;
                }

                .login-btn,
                .logout-btn {
                    margin-top: -5px;
                }
            }
        }
    }

    main {
        flex: 1;
    }

    footer {
        max-height: 30vh;
        overflow-y: auto;
    }
}
