<div class="layout">
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="brand-logo">{{title}}</a>
                    <a class="button-collapse hide-on-large-and-up"
                       href="javascript:void(0);"
                       data-activates="nav-mobile">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a routerLink="/courses">Courses</a>
                        </li>
                        <li *ngIf="authLoading">
                            <div class="preloader-wrapper active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="auth && !authLoading">
                            <div class="row valign-wrapper">
                                <img [src]="auth.photoURL" alt="" class="circle responsive-img avatar">
                                <span class="display-name">{{ auth.displayName }}</span>
                                <button (click)="logout()" class="waves-effect waves-light btn logout-btn">Logout</button>
                            </div>
                        </li>
                        <li *ngIf="!auth && !authLoading">
                            <button (click)="login()" class="waves-effect waves-light btn login-btn">Login</button>
                        </li>
                    </ul>
                    <ul id="nav-mobile"
                        class="side-nav">
                        <li>
                            <a routerLink="/courses">Courses</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <app-logs-list></app-logs-list>
    </footer>
</div>
