<div class="layout">
    <header>
        <h1>{{title}}</h1>
        <div *ngIf="auth && !authLoading">
            <img [src]="auth.photoURL" alt="">
            <span>{{ auth.displayName }}</span>
            <button (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!auth && !authLoading">
            <button (click)="login()">Login</button>
        </div>
    </header>

    <main>
        content here
    </main>

    <footer>
        <app-logs-list></app-logs-list>
    </footer>
</div>
