#module-details {
    margin-top: 20px;
}

.collection {
    .collection-item {
        .active {
            .badge {
                color: white;
            }
        }
    }
}

#submitting-banner {
    .preloader-wrapper {
        vertical-align: middle;
        margin-right: 20px;
    }
}
