<div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #courseForm="ngForm">
        <div class="row">
            <div class="input-field col s6">
                <input id="name"
                       class="validate"
                       type="text"
                       name="name"
                       [(ngModel)]="model.name">
                <label for="name">Course Name</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn" [disabled]="!courseForm.form.valid">Submit</button>
    </form>
</div>
